$white: #fff;

$yellow-4: #FACC15;

$amber-4: #FBBF24;

$blueGrey-1: #F1F5F9;
$blueGray-2: #E2E8F0;
$blueGray-3: #CBD5E1;
$blueGrey-4: #94A3B8;
$blueGrey-6: #475569;
$blueGrey-8: #192131;
$bluegrey-9: #0F172A;

$blue-1: #DBEAFE;
$blue-2: #BFDBFE;
$blue-3: #93C5FD;
$blue-4: #60A5FA;

$green-5: #22C55E;

$orange-7: #C2410C;

$pink-7: #BE185D;

$purple-1: #F3E8FF;
$purple-3: #D8B4FE;
$purple-4: #C084FC;
$purple-6: #9333EA;
$purple-8: #6B21A8;
$purple-9: #581C87;


$rose-6: #E11D48;