@use "sass:math";
@use "_colors.scss" as *;
@use "_mixins.scss" as *;

.components {
    background-color: $bluegrey-9;

    // .components__container
    &__container {
        padding: toRem(30);
        display: inline-flex;
        flex-direction: column;
        gap: toRem(15);
    }
}

.button {
    background-color: $purple-6;
    border-radius: toRem(8);
    @include typography("BL", 500);
    letter-spacing: toRem(0.5);
    padding-inline: toRem(40);
    padding-block: toRem(16);
    text-align: center;
    transition: background-color 0.3s ease;

    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover {
            background-color: $purple-9;
        }
    }


    // .button--transparent
    &--transparent {
        background-color: transparent;
        @include typography("BM", 500);
        padding-inline: toRem(24);
        padding-block: toRem(12);
        transition: background-color 0.3s ease;

        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                background-color: $purple-6;
            }
        }
    }

    // .button--mini
    &--mini {
        @include typography("BM", 500);
        padding-inline: toRem(28);
        padding-block: toRem(12);
        transition: background-color 0.3s ease;

        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                background-color: $purple-9;
            }
        }
    }

    // .button--white-border
    &--white-border {
        background-color: transparent;
        border: toRem(2) solid $white;
        transition: background-color 0.3s ease, color 0.3s ease;

        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                background-color: $purple-9;
                border-color: $purple-9;
            }
        }
    }

    &.menu__button {
        @media (max-width:toEm($mobileSmall)) {
            display: block;
            font-size: toRem(24);
        }
    }
}

// ==============================================

.hero {

    // .hero__block-header
    &__block-header {}
}

.block-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: toRem(32);

    // .block-header--center
    &--center {
        text-align: center
    }

    // .block-header__title
    &__title {
        @include typography("h1", 800);
    }

    // .block-header__line
    &__line {

        // .block-header__line--bottom
        &--bottom {}

        // .block-header__line--top
        &--top {}
    }

    // .block-header__purpur
    &__purpur {
        color: $purple-6;
    }

    // .block-header__text
    &__text {}
}